body {
   height: 100vh;
   @extend %OpenSans-400;
}
/* =============================*/
.lock{
   overflow: hidden;
}
.wrapper{
   min-height: 100%;
   // overflow: clip;
   display: flex;
   flex-direction: column;
}
.main{
   flex: 1 1 auto;
   // padding-top: 100px;
   z-index: 0;
   padding-top: 96px;
}
.container{
   max-width: 1430px;
   padding: 0 15px;
   margin: 0 auto;
}
a{
   text-decoration: none;
}
button{
   border: 0;
}
h1{
   color: $accent;
   @extend %Roboto-900;
   font-size: 4.375rem;
}
h2{
   color: $accent;
   @extend %Roboto-900;
   font-size: 3.125rem;
}
h3{
   color: $accent;
   @extend %Roboto-900;
   font-size: 2.5rem;
}
h4{
   color: $accent;
   @extend %Roboto-900;
   font-size: 2.1875rem;
}
h5{
   color: $accent;
   @extend %Roboto-900;
   font-size: 1.875rem;
}
h6{
   color: $accent;
   @extend %Roboto-900;
   font-size: 1.5625rem;
}
p{
   color: $text-color;
   font-size: 1.125rem;
   line-height: 165.4%;
}