$accent: #274C5B;
$accent-2: #7EB693;
$hover: #E9D37D;
$text-color: #525C60;
$color: #D4D4D4;
$color-2: #F9F8F8;
$color-3: #EFF6F1;


%btn {
   background-color: $accent;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   @extend %Roboto-700;
   font-size: 20px;
   padding: 28px 39px 29px 39px;
   border-radius: 16px;
   color: #fff;
   border: none;
   cursor: pointer;
   transition: all .2s;
   &:hover {
      color: $accent;
      background-color: $hover;
   }
}

%Roboto-700 {
   font-family: 'Roboto-Bold', sans-serif;
   font-weight: 700;
}
%Roboto-700 {
   font-family: 'Roboto-Bold', sans-serif;
   font-weight: 700;
}
%Roboto-900 {
   font-family: 'Roboto-Black', sans-serif;
   font-weight: 900;
}
%OpenSans-700 {
   font-family: 'OpenSans-Bold', sans-serif;
   font-weight: 700;
}
%OpenSans-600 {
   font-family: 'OpenSans-SemiBold', sans-serif;
   font-weight: 600;
}
%Roboto-500 {
   font-family: 'Roboto-Medium', sans-serif;
   font-weight: 500;
}
%Yellowtail-400 {
   font-family: 'Yellowtail-Regular', sans-serif;
   font-weight: 400;
}
%Roboto-Italic-400 {
   font-family: 'Roboto-Italic', sans-serif;
   font-weight: 400;
}
%Roboto-400 {
   font-family: 'Roboto-Regular', sans-serif;
   font-weight: 400;
}
%OpenSans-400 {
   font-family: 'OpenSans-Regular', sans-serif;
   font-weight: 400;
}

%decor-title{
   color: #68A47F;
   @extend %Yellowtail-400;
   font-size: 2.25rem;
}