@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 10;
   background-color: #fff;
   &__wrapper {
      margin: 15px auto;
      max-width: 1646px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__content-left{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__content-right{
      width: 100%;
   }
}
.logo {
   min-width: 200px;
   height: 56px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 150px;
   &__img {
      width: 200px;
      height: 56px;
      object-fit: contain;
   }
}
.menu {
   &__list {
      display: flex;
      justify-content: start;
      align-items: center;
   }
   &__item {
      position: relative;
      margin-right: 35px;
      @extend %Roboto-700;
      font-size: 1.25rem;
      padding: 10px 0;
   }
   &__link {
      color: $accent;
      transition: all .2s;
      &:hover{
         color: $hover;         
      }
   }
   &__arrow{
      display: none;
   }
   &__sublist {
      position: absolute;
      top: 100%;
      min-width: 200px;
      background-color: #d4d4d4;      
   }
   &__subitem {
      margin: 15px 10px;
      font-size: 0.875rem;
   }
   &__sublink {
      color: $accent;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
   }
   &__btn{
      display: none;
   }
}
body.__pc .menu__list > li:hover .menu__sublist{
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
}
body.__pc .menu__item{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
body.__pc .menu__arrow{
   display: block;
   width: 8px;
   height: 6px;
   margin-left: 5px;
   background-image: url(../images/menu-arrow.svg);
}
body.__touch .menu__list > li{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
body.__touch .menu__arrow{
   display: block;
   width: 0;
   height: 0;
   margin-top: 4px;
   margin-left: 5px;
   transition: transform 0.3s;
   border-right: 5px solid transparent;
   border-left: 5px solid transparent;
   border-top: 10px solid $accent;
}
body.__touch .menu__link{
   flex: 1 1 auto;
}
body.__touch .menu__list > li.__active .menu__sublist{
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
}
body.__touch .menu__list > li.__active .menu__arrow{
   transform: rotate(-180deg);
}
.user-nav {
   display: flex;
   justify-content: end;
   align-items: center;
   width: 100%;
   column-gap: 30px;
}
.search {
   display: flex;
   justify-content: end;
   width: 100%;
   &__label {
      display: block;
      max-width: 376px;
      width: 100%;
      height: 66px;
      position: relative;
   }
   &__input {
      max-width: 376px;
      width: 100%;
      height: 66px;
      border: none;
      padding: 15px 82px 15px 20px;
      border-radius: 36px;
      background: #FAFAFA;
      outline: none;
      font-size: 1rem;
   }
   &__link {
      position: absolute;
      width: 57px;
      height: 56px;
      top: 5px;
      right: 6px;
   }
   &__svg {
      width: 56px;
      height: 56px;
   }
   &__mobile-svg{
      display: none;
   }
}
.cart {
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__link {
      margin-right: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__svg {
      width: 56px;
      height: 56px;
   }
   &__title {
      color: $accent;
      font-size: 18px;
      @extend %OpenSans-600;
   }
   &__mobile-svg{
      display: none;
   }
}

// ======= TOP =======
.top {
   &__background{
      margin-bottom: 150px;
      background-color: #F1EFF0;
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
      background-image: url(../images/top-bg.webp);
   }
   &__wrapper {
      padding: 247px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
   }
   &__decor-title {
      @extend %decor-title;
      margin-bottom: 8px;
   }
   &__title {
      max-width: 530px;
      margin-bottom: 23px;
   }
   &__btn {
      @extend %btn;
      background-color: $hover;
      color: $accent;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &:hover{
         background-color: $accent;
         color: $hover;
      }
   }
   &__btn-svg{
      width: 19px;
      height: 19px;
   }
}

// =======   DISCOUNTS ========
.discounts {
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 30px;
      margin-bottom: 190px;
   }
   &__item {
      position: relative;
      width: 100%;
      max-height: 367px;
      height: 100%;
      padding: 110px 0 150px 55px;
   }
   &__item-first {
      .discounts__title-decor{
         color: #FFF;
         @extend %Yellowtail-400;
         font-size: 2.25rem;
      }
      a{
         color: #fff;
         transition: all .2s;
         &:hover{
            color: $hover;
         }
      }
   }
   &__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
   }
   &__title-decor {
      z-index: 1000;
      position: relative;
      @extend %decor-title;
      margin-bottom: 5px;
   }
   &__title{
      max-width: 277px;
   }
   &__link {
      z-index: 1000;
      position: relative;
      color: $accent;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
   }
}

// ======= INFO =======
.info {
   &__wrapper {
      position: relative;
      max-width: 1920px;
      margin: 0 auto;
      background-color: #F9F8F8;
      margin-bottom: 176px;
   }
   &__img-bg {
      position: absolute;
      z-index: 0;
      left: 100px;
   }
   &__content {
      max-width: 702px;
      width: 100%;
      margin-left: auto;
      padding: 186px 0 199px 0;
      z-index: 100;
      position: relative;
   }
   &__title-decor {
      @extend %decor-title;
      margin-bottom: 8px;
   }
   &__title {
      margin-bottom: 14px;
   }
   &__text {
      margin-bottom: 46px;
   }
   &__items {
      margin-bottom: 46px;
   }
   &__item {
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: 19px;
      margin-bottom: 30px;
   }
   &__img-box {
      width: 101px;
      height: 101px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background: #FFF;
   }
   &__item-title {
      margin-bottom: 7px;
   }
   &__item-text {
      max-width: 444px;
   }
   &__btn {
      @extend %btn;
      display: flex;
      flex-direction: row;
   }
}

// ======= PRODUCTS =======
.products {
   &__inner {
      margin-bottom: 200px;
   }
   &__title-decor {
      @extend %decor-title;
      text-align: center;
   }
   &__title {
      text-align: center;
      margin-bottom: 40px;
   }
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin-bottom: 120px;
   }
   &__btn{
      @extend %btn;
      flex-direction: row;
      margin: 0 auto;
   }
}
.product-item {
   border-radius: 30px;
   background: #F9F8F8;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   padding: 30px 27px 17px 30px;
   &__sticker {
      display: inline-block;
      background-color: $accent;
      color: #fff;
      border-radius: 8px;
      padding: 5px 12px;
   }
   &__img-box {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
   }
   &__img-link{
      display: block;
      width: 100%;
   }
   &__img {
      margin: 0 auto;
   }
   &__title {
      color: $accent;
      @extend %Roboto-500;
      font-size: 1.25rem;
      display: block;
      margin-bottom: 13px;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
   }
   &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 80px;
   }
   &__price-bloxk {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 8px;
   }
   &__price-old {
      color: #B8B8B8;
      text-align: center;
      @extend %OpenSans-600;
      font-size: 0.9375rem;
      text-decoration: line-through;
   }
   &__price-new {
      color: $accent;
      text-align: center;
      @extend %OpenSans-600;
      font-size: 1.125rem;
   }
}

// ======= REVIEWS =======
.reviews {
   &__wrapper {
      padding-top: 164px;
      position: relative;
      max-width: 1920px;
      width: 100%;
      margin: 0 auto;
      &::before,
      &::after{
         content: '';
         position: absolute;
         top: 0;
         width: 451px;
         height: 100%;
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
      }
      &::before{
         left: 0;
         background-image: url(../images/reviews-decor-left.webp);
      }
      &::after{
         right: 0;
         background-image: url(../images/reviews-decor-right.webp);
      }
   }
   &__title-decor {
      @extend %decor-title;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 8px;
   }
   &__title {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 60px;
   }
   &__slider-wrapper {
      max-width: 780px;
      margin: 0 auto;
      margin-bottom: 100px;
   }
   &__item {
      text-align: center;
   }
   &__img-box {
      margin-bottom: 20px;
   }
   &__img {
      border-radius: 50%;
      margin: 0 auto;
   }
   &__rating-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
   }
   &__text {
      margin-bottom: 20px;
      max-height: 60px;
      overflow: hidden;
   }
   &__customer-status {
      font-size: 0.9375rem;
      line-height: 165.4%;
      @extend %OpenSans-400;
      color: $accent;
      margin-bottom: 19px;
   }
   &__info {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 62px;
      max-width: 1110px;
      margin: 0 auto;
      padding-top: 100px;
      padding-bottom: 164px;
      border-top: 1px solid #E0E0E0;
   }
   &__info-item {
      border: 4px solid $accent-2;
      border-radius: 50%;
      padding: 7px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 211px;
      height: 211px;
      background-color: #F1F1F1;
   }
   &__info-subtitle {
      color: $accent;
      text-align: center;
      font-size: 1.125rem;
      @extend %OpenSans-600;
      line-height: 165.4%;
   }
}
.slick-dots{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 7px;
   button{
      border-radius: 50%;
      height: 8px;
      width: 8px;
      border: none;
      padding: 0;
      font-size: 0;
      background-color: #C4C4C4;
   }
}
.slick-active{
   button{
      background-color: $accent-2;
   }
}

// ======= OFFER =======
.offer {
   &__wrapper {
      background-color: $accent;
      max-width: 1920px;
      width: 100%;
      margin: 0 auto;
   }
   &__top {
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding-top: 200px;
      margin-bottom: 50px;
   }
   &__title-decor {
      @extend %decor-title;
      margin-bottom: 8px;
   }
   &__title {
      color: #FFF;
   }
   &__link {
      @extend %btn;
      flex-direction: row;
      background-color: $hover;
      color: $accent;
      transition: all .2s;
      &:hover{
         background-color: $accent;
         border: 1px solid $hover;
         color: $hover;
      }
   }
   &__products {
      padding-bottom: 200px;
   }
}

// ======= ECO-FRENDLY =======
.eco-friendly {
   &__wrapper {
      max-width: 1920px;
      width: 100%;
      position: relative;
      margin: 0 auto;
      &::before{
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-image: url(../images/eco-friendly-img.avif);
         background-repeat: no-repeat;
         background-size: contain;
      }
   }
   &__inner {
      display: flex;
      justify-content: end;
      align-items: center;
   }
   &__block {
      border-radius: 50px;
      margin-top: 100px;
      margin-bottom: 110px;
      padding: 78px 65px 77px 89px;
      z-index: 100;
      background-color: #fff;
   }
   &__title-decor {
      @extend %decor-title;
      margin-bottom: 8px;
   }
   &__title {
      max-width: 500px;
      margin-bottom: 35px;
   }
   &__subtitle {
      @extend %Roboto-500;
      margin-bottom: 7px;
   }
   &__text {
      margin-bottom: 35px;
      max-width: 635px;
   }
}

// ======= ORGANIC FOOD =======
.organic-food {
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 187px 0;
      background-color: #F1F8F4;
      z-index: -2000;
      max-width: 1920px;
      margin: 0 auto;
   }
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 612px;
      height: 583px;
      width: 100%;
      // height: 100%;
      z-index: 100;
   }
   &__img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -100;
      object-fit: contain
   }
   &__btn {
      @extend %btn;
      color: $accent;
      background-color: #fff;
      padding: 33px 83px 34px 83px;
      font-size: 1.5625rem;
   }
}

// ======= NEWS =======
.news {
   &__wrapper {
      padding: 177px 0 245px 0;
   }
   &__top {
      display: flex;
      justify-content: space-between;align-items: end;
      margin-bottom: 48px;
   }
   &__title-decor {
      @extend %decor-title;
      margin-bottom: 8px;
   }
   &__top-title {
      max-width: 702px;
   }
   &__top-link {
      border-radius: 16px;
      border: 2px solid $accent;
      background: #FFF;
      padding: 28px 45px;
      color: $accent;
      @extend %Roboto-700;
      font-size: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 9px;
      transition: all .2s;
      &:hover{
         background-color: $hover;
      }
   }
   &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__item {
      position: relative;
   }
   &__img-bg {
      object-fit: contain;
      border-radius: 30px;
   }
   &__date-box {
      position: absolute;
      top: 43px;
      left: 32px;
      border-radius: 50%;
      width: 82px;
      height: 82px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $accent;
      text-align: center;
      @extend %Roboto-900;
   }
   &__date-num {
      font-size: 1.5625rem;
   }
   &__date-month {
      font-size: 1.25rem;
   }
   &__info {
      position: absolute;
      border-radius: 31px 34px 30px 30px;
      background: #FFF;
      box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
      padding: 46px 57px 60px;
      left: 32px;
      right: 32px;
      bottom: -60px;
   }
   &__autor-box {
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: 8px;
      margin-bottom: 15px;
   }
   &__user-svg {
      width: 18px;
      height: 20px;
   }
   &__autor {
      color: $accent;
      font-size: 1.125rem;
      @extend %Roboto-400;
   }
   &__title {
      transition: all .2s;
      &:hover{
         color: $hover;
      }
   }
   &__text {
      color: $text-color;
      margin-bottom: 15px;
   }
   &__link{
      @extend %btn;
      flex-direction: row;
      max-width: 220px;
      background-color: $hover;
      color: $accent;
      transition: all .2s;
      &:hover{
         background-color: $accent;
         color: $hover;
      }
   }
}

// ======= SUBSCRIPTION =======
.subscription {
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 100px 71px;
      margin-bottom: 117px;
      background-image: url(../images/subscription-bg.avif);
      background-repeat: no-repeat;
      background-position: center;
   }
   &__title {
      max-width: 357px;
      color: #fff;
   }
   &__form{
      width: 100%;
   }
   &__label {
      display: flex;
      justify-content: end;
      align-items: center;
      column-gap: 8px;
   }
   &__inp-text {
      max-width: 349px;
      width: 100%;
      height: 80px;
      border-radius: 16px;
      outline: none;
      border: none;
      padding: 15px;     
   }
   &__inp-text[placeholder]{
      color: #ABABAB;
      @extend %Roboto-Italic-400;
      font-size: 1.125rem;
   }
   &__inp-btn {
      @extend %btn;
      max-width: 220px;
      width: 100%;
   }
}




// = = = = = = = = = = = = = = = = = = = = = = = = = 



// ======= ABOUT US=======
// ======= BABBER =======
.banner {
   position: relative;
   &__bg {
      object-fit: contain;
   }
   &__wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 160px;
   }
   &__title {
      position: absolute;
   }
}

// ======= CREATIVE THINGS =======
.creative-things {
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 40px;
      padding-bottom: 150px;
   }
   &__blick-image {
      position: relative;
      &::before{
         content: '';
         position: absolute;
         bottom: -167px;
         left: -111px;
         width: 466px;
         height: 466px;
         z-index: -100;
         background-image: url(../images/about-decor.avif);
      }
   }
   &__img {
      object-fit: contain;
   }
   &__info {
      max-width: 671px;
   }
   &__title-decor {
      @extend %decor-title;
      margin-bottom: 8px;
   }
   &__title {
      max-width: 500px;
      margin-bottom: 14px;
   }
   &__text {   
      margin-bottom: 30px;
   }
   &__text + .creative-things__text{
      margin-bottom: 48px;
   }
   &__advantages {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 58px;
   }
   &__advantages-item {
      display: flex;
      justify-content: space-between;
      column-gap: 15px;
   }
   &__icon-box {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 56px;
   }
   &__icon {
      display: block;
      object-fit: contain
   }
   &__advantages-title {
      @extend %Roboto-500;
   }
   &__btn {
      @extend %btn;
      flex-direction: row;
   }
}

// ======= WHY CHOOSE US =======
.why-choose-us {
   &__wrapper {
      background-color: $color-2;
      max-width: 1920px;
      padding: 190px 0;
      margin-bottom: 177px;
   }
   &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 91px;
   }
   &__info {
      max-width: 671px;
   }
   &__subtitle {
      @extend %decor-title;
      margin-bottom: 8px;
   }
   &__title {
      max-width: 530px;
      margin-bottom: 25px;
   }
   &__text {
      margin-bottom: 36px;
   }
   &__advantages-item {
      max-width: 486px;
      margin-bottom: 24px;
   }
   &__advantages-item + .why-choose-us__advantages-item{
      margin-bottom: 0;
   }
   &__advantages-unit {
      display: inline-block;
      padding: 29px 91px 29px 63px;
      border-radius: 49px;
      background: #ECECEC;
      color: #274C5B;
      @extend %Roboto-500;
      font-size: 1.25rem;
      margin-bottom: 12px;
      position: relative;
      &::before{
         content: '';
         position: absolute;
         background-image: url(../images/why-choose-us-icon.webp);
         width: 19px;
         height: 19px;
         left: 27px;
      }
   }
   &__img-box {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__img {
      object-fit: contain;
   }
   &__cards {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 30px;
   }
   &__card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      background-color: #fff;
      border-radius: 39px;
      padding: 50px 39px 39px 35px;
   }
   &__card-icon-box {
      width: 95px;
      height: 95px;
      background-color: $color-2;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 18px;
      margin-bottom: 15px;
      position: relative;
      &::after{
         content: '';
         position: absolute;
         background-image: url(../images/why-choose-us__card-decor.webp);
         width: 29px;
         height: 29px;
         top: 23px;
         right: 22px;
         z-index: 1;
         border-radius: 50%;
      }
   }
   &__card-icon {
      position: relative;
      z-index: 10;
   }
   &__card-title {
      margin-bottom: 12px;
   }
   &__card-text {
      max-width: 184px;
      max-height: 95px;
      overflow: hidden;
   }
}

// ======= OUR EXPERTS =======
.our-experts {
   &__wrapper {
      padding: 0 0 200px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__title-decor {
      text-align: center;
      @extend %decor-title;
   }
   &__title {
      text-align: center;
      margin-bottom: 16px;
   }
   &__text {
      max-width: 852px;
      text-align: center;
      margin-bottom: 42px;
   }
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 27px;
   }
   &__item {
      border-radius: 30px;
      background-color: $color-2;
      transition: all .2s;
      &:hover{
         filter: drop-shadow(0px 29px 44px rgba(150, 150, 150, 0.25));
      }
      &:hover > .our-experts__img-link{
         &::after{
            background-color: #000;
            border-radius: 30px 30px 0 0;
            opacity: .3;
         }
      }
   }
   &__img-link{
      &::after{
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         transition: all .3s;
         opacity: 0;
      }
      opacity: 1;
      position: relative;
   }
   &__img {
      border-radius: 30px 30px 0 0;
      object-fit: contain;
   }
   &__info-block {
      display: flex;
      justify-content: space-between;
      padding: 30px 27px 34px 30px;
   }
   &__name {
      transition: all .2s;
      margin-bottom: 2px;
      &:hover{
         color: $hover;
      }
   }
   &__position {
      @extend %decor-title;
      font-size: 1.375rem;
   }
   &__socials {
      display: flex;
      justify-content: space-between;
      align-items: end;
      column-gap: 17px;
   }
   &__svg-link {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: all .2s;
      &:hover{
         background-color: $hover;
      }
   }
   &__svg {
      width: 22px;
      height: 22px;
   }
}

// ======= WE OFFER =======
.we-offer {
   &__wrapper {
      background-color: $accent;
      max-width: 1920px;
      margin-bottom: 140px;
   }
   &__inner {
      padding: 188px 0;
      text-align: center;
   }
   &__title-decor {
      @extend %decor-title;
      margin-bottom: 8px;
   }
   &__title {
      color: #fff;
      margin-bottom: 33px;
   }
   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
   }
   &__item {
      width: 334px;
      &:hover > .we-offer__img-link{
         &::after{
            background-color: #000;
            border-radius: 30px;
            opacity: .3;
         }
      }
      &:hover .we-offer__name{
         color: $hover;
      }
   }
   &__img-link {
      border-radius: 30px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      &::after{
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         transition: all .3s;
         opacity: 0;
      }
      opacity: 1;
      position: relative;
   }
   &__img {
      border-radius: 30px;
   }
   &__name {
      @extend %Roboto-500;
      color: #fff;
      text-align: center;
      transition: all .2s;
   }
}



































// =======   BANNER   =======



// =======   FOOTER   =======
.footer {
   &__wrapper {
      display: flex;
      justify-content: space-between;
      column-gap: 50px;
      padding: 50px 50px 100px 50px;
   }
   &__contacts {
      text-align: right;
      max-width: 285px;
      width: 100%;
      h5{
         margin-bottom: 32px;
      }
   }
   &__item {
      margin-bottom: 25px;
   }
   &__subtitle {
      color: $text-color;
      text-align: right;
      font-size: 1.125rem;
      line-height: 165%;
      @extend %OpenSans-700;
   }
   &__link {
      color: $text-color;
      @extend %OpenSans-400;
      font-size: 1.125rem;
      line-height: 165%;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
   }
   &__socials {
      text-align: center;
      padding: 0 40px;
      border-left: 1px solid $color;
      border-right: 1px solid $color;
      width: 100%;
   }
   &__logo-box {
      margin-bottom: 26px;
   }
   &__logo {
      display: inline-block;
      margin: 0 auto;
   }
   &__text {
      margin: 0 auto;
      max-width: 543px;
      width: 100%;
      margin-bottom: 50px;
   }
   &__socials-links {
      display: flex;
      justify-content: center;
      column-gap: 15px;
   }
   &__socials-link {
      display: inline-block;
      &:hover{
         path{
            transition: all .5s;
            fill: $hover;
         }
         circle{
            transition: all .5s;
            fill: $accent;
         }
      }
   }
   &__utility {
      max-width: 285px;
      width: 100%;
      h5{
         margin-bottom: 25px;
      }
   }
   &__utility-link {
      color: $text-color;
      @extend %OpenSans-400;
      font-size: 1.125rem;
      line-height: 272.9%;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
   }
}
.footer-info {
   border-top: 1px solid $color;
   padding: 17px 0;
   text-align: center;
   color: $text-color;
   font-size: 1.125rem;
   @extend %OpenSans-400;
   line-height: 165.4%; /* 29.772px */
   span{
      @extend %OpenSans-700;
   }
}
@import 'media';
