<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Organick</title>
   <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
   <div class="wrapper">
      <header class="header">
         <div class="header__wrapper">
            <div class="header__content-left">
               <a class="logo" href="#">
                  <img class="logo__img" src="images/logo.webp" alt="logo image">
               </a>
               <nav class="menu">
                  <ul class="menu__list">
                     <li class="menu__item">
                        <a class="menu__link" href="#">Home</a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="#">About</a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="#">Pages</a>
                        <span class="menu__arrow"></span>
                        <ul class="menu__sublist">
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="#">About us</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="#">Services</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="#">Quality Standard</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="#">Portfolio Standard</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="#">Our Team</a>
                           </li>
                        </ul>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="#">Shop</a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="#">Projects</a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="#">News</a>
                     </li>
                  </ul>
                  <button class="menu__btn"><span></span></button>
               </nav>
            </div>
            <div class="header__content-right">
               <div class="user-nav">
                  <div class="search">
                     <div class="search__wrapper">
                        <div class="search__label" for="#">
                           <input type="text" class="search__input">
                           <a class="search__link" href="#">
                              <svg class="search__svg">
                                 <use xlink:href="images/sprite.svg#search" width="56" height="56"></use>
                              </svg>
                              <svg class="search__mobile-svg">
                                 <use xlink:href="images/sprite.svg#search-mobile" width="22" height="22"></use>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="cart">
                     <a class="cart__link" href="#">
                        <svg class="cart__svg">
                           <use xlink:href="images/sprite.svg#cart-icon" width="57" height="56"></use>
                        </svg>
                        <svg class="cart__mobile-svg">
                           <use xlink:href="images/sprite.svg#cart-mobile" width="22" height="22"></use>
                        </svg>
                     </a>
                     <div class="cart__title">Cart&nbsp;<span>(0)</span></div>
                  </div>
               </div>
            </div>
         </div>
      </header>