<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Organick</title>
   <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
   <div class="wrapper">
      <header class="header">
         <div class="header__wrapper">
            <div class="header__content-left">
               <a class="logo" href="index.html">
                  <img class="logo__img" src="images/logo.webp" alt="logo image" width="200" height="56">
               </a>
               <nav class="menu">
                  <ul class="menu__list">
                     <li class="menu__item">
                        <a class="menu__link" href="index.html">Home</a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="about.html">About</a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="#">Pages</a>
                        <span class="menu__arrow"></span>
                        <ul class="menu__sublist">
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="about.html">About us</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="services.html">Services</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="quality-standard.html">Quality Standard</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="portfolio.html">Portfolio Standard</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="our-team.html">Our Team</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="contact-us.html">Contact Us</a>
                           </li>
                           <li class="menu__subitem">
                              <a class="menu__sublink" href="404.html">404 page</a>
                           </li>
                        </ul>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="category.html">Shop</a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="portfolio.html">Projects</a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="news.html">News</a>
                     </li>
                  </ul>
               </nav>
            </div>
            <button class="menu__btn" aria-label="menu"><span></span></button>

            <div class="header__content-right">
               <!---->
               <div class="user-nav">
                  <div class="search">
                     <label class="search__label" for="search">
                        <input type="text" class="search__input" id="search">
                        <a class="search__link" href="#">
                           <svg class="search__svg">
                              <use xlink:href="images/sprite.svg#search" width="56" height="56"></use>
                           </svg>
                           <svg class="search__mobile-svg">
                              <use xlink:href="images/sprite.svg#search-mobile" width="22" height="22"></use>
                           </svg>
                        </a>
                     </label>

                  </div>
                  <div class="cart">
                     <a class="cart__link" href="#">
                        <svg class="cart__svg">
                           <use xlink:href="images/sprite.svg#cart-icon" width="57" height="56"></use>
                        </svg>
                        <svg class="cart__mobile-svg">
                           <use xlink:href="images/sprite.svg#cart-mobile" width="22" height="22"></use>
                        </svg>
                     </a>
                     <div class="cart__title">Cart&nbsp;<span>(0)</span></div>
                  </div>
               </div>
            </div>
         </div>
      </header>