<main class="main">
   <section class="top">
      <div class="top__background wow animate__fadeIn">
         <div class="container">
            <div class="top__wrapper">
               <div class="top__decor-title">100% Natural Food</div>
               <h1 class="top__title">Choose the best healthier way <br>of life</h1>
               <button class="top__btn">Explore Now
                  <svg class="top__btn-svg">
                     <use xlink:href="images/sprite.svg#arrow-btn" width="19" height="19"></use>
                  </svg>
               </button>
            </div>
         </div>
      </div>
   </section>
   <section class="discounts">
      <div class="container">
         <div class="discounts__wrapper">
            <div class="discounts__item discounts__item-first wow animate__fadeInLeft" data-wow-offset="300">
               <div class="discounts__title-decor">Natural!!</div>
               <h3 class="discounts__title"><a class="discounts__link" href="#">Get Garden Fresh Fruits</a></h3>
               <img src="images/discounts-1.webp" alt="" class="discounts__img">
            </div>
            <div class="discounts__item wow animate__fadeInRight" data-wow-offset="300">
               <div class="discounts__title-decor">Offer!!</div>
               <h3 class="discounts__title"><a class="discounts__link" href="#">Get 10% off on Vegetables</a></h3>
               <img src="images/discounts-2.webp" alt="" class="discounts__img">
            </div>
         </div>
      </div>
   </section>
   <section class="info">
      <div class="info__wrapper">
         <img src="images/info-bg.webp" alt="background image of section" class="info__img-bg wow animate__fadeIn" data-wow-offset="300">
         <div class="container">
            <div class="info__content wow animate__fadeInRight" data-wow-offset="300">
               <div class="info__title-decor">About Us</div>
               <h2 class="info__title">We Believe in Working Accredited Farmers</h2>
               <p class="info__text">Simply dummy text of the printing and typesetting industry. Lorem had ceased o
                  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
               </p>
               <div class="info__items">
                  <div class="info__item">
                     <div class="info__img-box">
                        <img class="info__img" src="images/info-1.webp" alt="info icon">
                     </div>
                     <div class="info__item-content">
                        <h6 class="info__item-title">Organic Foods Only</h6>
                        <p class="info__item-text">Simply dummy text of the printing and typesetting industry. Lorem
                           Ipsum</p>
                     </div>
                  </div>
                  <div class="info__item">
                     <div class="info__img-box">
                        <img class="info__img" src="images/info-2.webp" alt="info icon">
                     </div>
                     <div class="info__item-content">
                        <h6 class="info__item-title">Quality Standards</h6>
                        <p class="info__item-text">Simply dummy text of the printing and typesetting industry. Lorem
                           Ipsum</p>
                     </div>
                  </div>
               </div>
               <button class="info__btn" type="submit">Shop Now
                  <svg class="top__btn-svg">
                     <use xlink:href="images/sprite.svg#arrow-btn" width="19" height="19"></use>
                  </svg>
               </button>
            </div>
         </div>
      </div>
   </section>
   <section class="products">
      <div class="container">
         <div class="products__inner">
            <div class="products__title-decor wow animate__fadeIn" data-wow-offset="300">Categories</div>
            <h2 class="products__title wow animate__fadeIn" data-wow-offset="300">Our Products</h2>
            <div class="products__wrapper">
               <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                  <div class="product-item__sticker">Vegetable</div>
                  <div class="product-item__img-box">
                     <a class="product-item__img-link" href="product.html">
                        <img class="product-item__img" src="images/pi-1.webp" alt="product image">
                     </a>
                  </div>
                  <div class="product-item__footer">
                     <a class="product-item__title" href="product.html">Calabrese Broccoli</a>
                     <div class="product-item__info">
                        <div class="product-item__price-bloxk">
                           <div class="product-item__price-old">$20.00</div>
                           <div class="product-item__price-new">$13.00</div>
                        </div>
                        <div class="product-item__rating"></div>
                     </div>
                  </div>
               </div>
               <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                  <div class="product-item__sticker">Fresh</div>
                  <div class="product-item__img-box">
                     <a class="product-item__img-link" href="product.html">
                        <img class="product-item__img" src="images/pi-2.webp" alt="product image">
                     </a>
                  </div>
                  <div class="product-item__footer">
                     <a class="product-item__title" href="product.html">Fresh Banana Fruites</a>
                     <div class="product-item__info">
                        <div class="product-item__price-bloxk">
                           <div class="product-item__price-old">$20.00</div>
                           <div class="product-item__price-new">$14.00</div>
                        </div>
                        <div class="product-item__rating"></div>
                     </div>
                  </div>
               </div>
               <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                  <div class="product-item__sticker">Millets</div>
                  <div class="product-item__img-box">
                     <a class="product-item__img-link" href="product.html">
                        <img class="product-item__img" src="images/pi-3.webp" alt="product image">
                     </a>
                  </div>
                  <div class="product-item__footer">
                     <a class="product-item__title" href="product.html">White Nuts</a>
                     <div class="product-item__info">
                        <div class="product-item__price-bloxk">
                           <div class="product-item__price-old">$20.00</div>
                           <div class="product-item__price-new">$15.00</div>
                        </div>
                        <div class="product-item__rating"></div>
                     </div>
                  </div>
               </div>
               <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                  <div class="product-item__sticker">Vegetable</div>
                  <div class="product-item__img-box">
                     <a class="product-item__img-link" href="product.html">
                        <img class="product-item__img" src="images/pi-4.webp" alt="product image">
                     </a>
                  </div>
                  <div class="product-item__footer">
                     <a class="product-item__title" href="product.html">Vegan Red Tomato</a>
                     <div class="product-item__info">
                        <div class="product-item__price-bloxk">
                           <div class="product-item__price-old">$20.00</div>
                           <div class="product-item__price-new">$17.00</div>
                        </div>
                        <div class="product-item__rating"></div>
                     </div>
                  </div>
               </div>
               <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                  <div class="product-item__sticker">Health</div>
                  <div class="product-item__img-box">
                     <a class="product-item__img-link" href="product.html">
                        <img class="product-item__img" src="images/pi-5.webp" alt="product image">
                     </a>
                  </div>
                  <div class="product-item__footer">
                     <a class="product-item__title" href="product.html">Mung Bean</a>
                     <div class="product-item__info">
                        <div class="product-item__price-bloxk">
                           <div class="product-item__price-old">$20.00</div>
                           <div class="product-item__price-new">$11.00</div>
                        </div>
                        <div class="product-item__rating"></div>
                     </div>
                  </div>
               </div>
               <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                  <div class="product-item__sticker">Nuts</div>
                  <div class="product-item__img-box">
                     <a class="product-item__img-link" href="product.html">
                        <img class="product-item__img" src="images/pi-6.webp" alt="product image">
                     </a>
                  </div>
                  <div class="product-item__footer">
                     <a class="product-item__title" href="product.html">Brown Hazelnut</a>
                     <div class="product-item__info">
                        <div class="product-item__price-bloxk">
                           <div class="product-item__price-old">$20.00</div>
                           <div class="product-item__price-new">$12.00</div>
                        </div>
                        <div class="product-item__rating"></div>
                     </div>
                  </div>
               </div>
               <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                  <div class="product-item__sticker">Fresh</div>
                  <div class="product-item__img-box">
                     <a class="product-item__img-link" href="product.html">
                        <img class="product-item__img" src="images/pi-7.webp" alt="product image">
                     </a>
                  </div>
                  <div class="product-item__footer">
                     <a class="product-item__title" href="product.html">Eggs</a>
                     <div class="product-item__info">
                        <div class="product-item__price-bloxk">
                           <div class="product-item__price-old">$20.00</div>
                           <div class="product-item__price-new">$17.00</div>
                        </div>
                        <div class="product-item__rating"></div>
                     </div>
                  </div>
               </div>
               <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                  <div class="product-item__sticker">Fresh</div>
                  <div class="product-item__img-box">
                     <a class="product-item__img-link" href="product.html">
                        <img class="product-item__img" src="images/pi-8.webp" alt="product image">
                     </a>
                  </div>
                  <div class="product-item__footer">
                     <a class="product-item__title" href="product.html">Zelco Suji Elaichi Rusk</a>
                     <div class="product-item__info">
                        <div class="product-item__price-bloxk">
                           <div class="product-item__price-old">$20.00</div>
                           <div class="product-item__price-new">$15.00</div>
                        </div>
                        <div class="product-item__rating"></div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="products__link wow animate__fadeIn" data-wow-offset="300" href="category.html">Load More
               <svg class="top__btn-svg">
                  <use xlink:href="images/sprite.svg#arrow-btn" width="19" height="19"></use>
               </svg>
            </a>
         </div>
      </div>
   </section>
   <section class="reviews">
      <div class="reviews__wrapper">
         <div class="container">
            <div class="reviews__title-decor wow animate__fadeIn" data-wow-offset="300">Testimonial</div>
            <h2 class="reviews__title wow animate__fadeIn" data-wow-offset="300">What Our Customer Saying?</h2>
            <div class="reviews__slider-wrapper wow animate__fadeIn" data-wow-offset="300">
               <div class="reviews__slider">
                  <div class="reviews__item">
                     <div class="reviews__img-box">
                        <img class="reviews__img" src="images/customer-review.webp" alt="customer review">
                     </div>
                     <div class="reviews__rating-box">
                        <span class="reviews__rating"></span>
                     </div>
                     <p class="reviews__text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     <h6 class="reviews__customer-name">Sara Taylor</h6>
                     <div class="reviews__customer-status">Consumer</div>
                  </div>
                  <div class="reviews__item">
                     <div class="reviews__img-box">
                        <img class="reviews__img" src="images/customer-review.webp" alt="customer review">
                     </div>
                     <div class="reviews__rating-box">
                        <span class="reviews__rating"></span>
                     </div>
                     <p class="reviews__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas sunt
                        tenetur sapiente quo praesentium fugiat enim nemo repellendus culpa, tempora fuga sint aliquam
                        animi ea saepe, doloremque recusandae beatae, iusto a. Eveniet dicta dolores ipsum itaque
                        accusantium fugiat molestiae ea, possimus odit at cumque nulla? Temporibus ullam eaque nobis
                        eligendi?</p>
                     <h6 class="reviews__customer-name">Monica Bellucci</h6>
                     <div class="reviews__customer-status">Superstar</div>
                  </div>
                  <div class="reviews__item">
                     <div class="reviews__img-box">
                        <img class="reviews__img" src="images/customer-review.webp" alt="customer review">
                     </div>
                     <div class="reviews__rating-box">
                        <span class="reviews__rating"></span>
                     </div>
                     <p class="reviews__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum eligendi
                        debitis omnis non. Perspiciatis saepe facere culpa ab ullam voluptatum asperiores? Numquam, nemo
                        et doloremque voluptate consequuntur quia quo nihil!</p>
                     <h6 class="reviews__customer-name">Sarah Connor</h6>
                     <div class="reviews__customer-status">Consumer</div>
                  </div>
               </div>
            </div>
            <div class="reviews__info">
               <div class="reviews__info-item wow animate__rollIn" data-wow-offset="300">
                  <h2 class="reviews__info-title">100%</h2>
                  <div class="reviews__info-subtitle">Organic</div>
               </div>
               <div class="reviews__info-item wow animate__rollIn" data-wow-offset="300">
                  <h2 class="reviews__info-title">285</h2>
                  <div class="reviews__info-subtitle">Active Product</div>
               </div>
               <div class="reviews__info-item wow animate__rotateIn" data-wow-offset="300">
                  <h2 class="reviews__info-title">350+</h2>
                  <div class="reviews__info-subtitle">Organic Orchads</div>
               </div>
               <div class="reviews__info-item wow animate__rotateIn" data-wow-offset="300">
                  <h2 class="reviews__info-title">25+</h2>
                  <div class="reviews__info-subtitle">Years of Farming</div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="offer">
      <div class="offer__wrapper">
         <div class="container">
            <div class="offer__top">
               <div class="offer__title-box">
                  <div class="offer__title-decor wow animate__fadeIn" data-wow-offset="300">Offer</div>
                  <h2 class="offer__title wow animate__fadeIn" data-wow-offset="300">We Offer Organic For You</h2>
               </div>
               <a class="offer__link wow animate__fadeIn" data-wow-offset="300" href="category.html">View All Product
                  <svg class="top__btn-svg">
                     <use xlink:href="images/sprite.svg#arrow-btn" width="19" height="19"></use>
                  </svg>
               </a>
            </div>
            <div class="offer__products">
               <div class="products__wrapper offer__products-wrapper">
                  <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                     <div class="product-item__sticker">Vegetable</div>
                     <div class="product-item__img-box">
                        <a class="product-item__img-link" href="product.html">
                           <img class="product-item__img" src="images/pi-1.webp" alt="product image">
                        </a>
                     </div>
                     <div class="product-item__footer">
                        <a class="product-item__title" href="product.html">Calabrese Broccoli</a>
                        <div class="product-item__info">
                           <div class="product-item__price-bloxk">
                              <div class="product-item__price-old">$20.00</div>
                              <div class="product-item__price-new">$13.00</div>
                           </div>
                           <div class="product-item__rating"></div>
                        </div>
                     </div>
                  </div>
                  <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                     <div class="product-item__sticker">Fresh</div>
                     <div class="product-item__img-box">
                        <a class="product-item__img-link" href="product.html">
                           <img class="product-item__img" src="images/pi-2.webp" alt="product image">
                        </a>
                     </div>
                     <div class="product-item__footer">
                        <a class="product-item__title" href="product.html">Fresh Banana Fruites</a>
                        <div class="product-item__info">
                           <div class="product-item__price-bloxk">
                              <div class="product-item__price-old">$20.00</div>
                              <div class="product-item__price-new">$14.00</div>
                           </div>
                           <div class="product-item__rating"></div>
                        </div>
                     </div>
                  </div>
                  <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                     <div class="product-item__sticker">Millets</div>
                     <div class="product-item__img-box">
                        <a class="product-item__img-link" href="product.html">
                           <img class="product-item__img" src="images/pi-3.webp" alt="product image">
                        </a>
                     </div>
                     <div class="product-item__footer">
                        <a class="product-item__title" href="product.html">White Nuts</a>
                        <div class="product-item__info">
                           <div class="product-item__price-bloxk">
                              <div class="product-item__price-old">$20.00</div>
                              <div class="product-item__price-new">$15.00</div>
                           </div>
                           <div class="product-item__rating"></div>
                        </div>
                     </div>
                  </div>
                  <div class="product-item wow animate__fadeIn" data-wow-offset="300">
                     <div class="product-item__sticker">Vegetable</div>
                     <div class="product-item__img-box">
                        <a class="product-item__img-link" href="product.html">
                           <img class="product-item__img" src="images/pi-4.webp" alt="product image">
                        </a>
                     </div>
                     <div class="product-item__footer">
                        <a class="product-item__title" href="product.html">Vegan Red Tomato</a>
                        <div class="product-item__info">
                           <div class="product-item__price-bloxk">
                              <div class="product-item__price-old">$20.00</div>
                              <div class="product-item__price-new">$17.00</div>
                           </div>
                           <div class="product-item__rating"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="eco-friendly">
      <div class="eco-friendly__wrapper">
         <div class="container">
            <div class="eco-friendly__inner wow animate__fadeInRight" data-wow-offset="300">
               <div class="eco-friendly__block">
                  <div class="eco-friendly__title-decor">Eco Friendly</div>
                  <h2 class="eco-friendly__title">Econis is a Friendly Organic Store</h2>
                  <h6 class="eco-friendly__subtitle">Start with Our Company First</h6>
                  <p class="eco-friendly__text">Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                     doloremque laudantium. Sed ut perspiciatis.</p>
                  <h6 class="eco-friendly__subtitle">Learn How to Grow Yourself</h6>
                  <p class="eco-friendly__text">Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                     doloremque laudantium. Sed ut perspiciatis.</p>
                  <h6 class="eco-friendly__subtitle">Farming Strategies of Today</h6>
                  <p class="eco-friendly__text">Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                     doloremque laudantium. Sed ut perspiciatis.</p>
               </div>
            </div>
         </div>
      </div>
   </section> 
   <section class="organic-food">
      <h2 class="organic-food__title">Organic food</h2>
      <div class="organic-food__wrapper">
         <div class="organic-food__item wow animate__fadeInLeft" data-wow-offset="300">
            <img class="organic-food__img" src="images/organic-food-1.avif" alt="organic food image">
            <a class="organic-food__btn" href="category.html">Organic Juice</a>
         </div>
         <div class="organic-food__item wow animate__fadeIn" data-wow-offset="300">
            <img class="organic-food__img" src="images/organic-food-2.avif" alt="organic food image">
            <a class="organic-food__btn" href="category.html">Organic Food</a>
         </div>
         <div class="organic-food__item wow animate__fadeInRight" data-wow-offset="300">
            <img class="organic-food__img" src="images/organic-food-3.avif" alt="organic food image">
            <a class="organic-food__btn" href="category.html">Nuts Cookis</a>
         </div>
      </div>
   </section>
   <section class="news">
      <div class="container">
         <div class="news__wrapper">
            <div class="news__top">
               <div class="news__title-box">
                  <div class="news__title-decor wow animate__fadeIn" data-wow-offset="300">News</div>
                  <h2 class="news__top-title wow animate__fadeIn" data-wow-offset="300">Discover weekly content about organic food, & more</h2>
               </div>
               <a class="news__top-link wow animate__fadeIn" data-wow-offset="300" href="news.html">More News
                  <svg class="top__btn-svg">
                     <use xlink:href="images/sprite.svg#arrow-btn" width="19" height="19"></use>
                  </svg>
               </a>
            </div>
            <div class="news__box wow animate__fadeIn" data-wow-offset="300">
               <div class="news__item">
                  <a class="news__img-link" href="#">
                     <img class="news__img-bg" src="images/news-1.avif" alt="news background image">
                  </a>
                  <div class="news__date-box">
                     <div class="news__date-num">25</div>
                     <div class="news__date-month">Nov</div>
                  </div>
                  <div class="news__info">
                     <div class="news__autor-box">
                        <svg class="news__user-svg">
                           <use xlink:href="images/sprite.svg#user" width="18" height="20"></use>
                        </svg>
                        <span class="news__autor">By Rachi Card</span>
                     </div>
                     <a class="news__title-link" href="news-one.html">
                        <h6 class="news__title">The Benefits of Vitamin D & How to Get It</h6>
                     </a>
                     <p class="news__text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                     <a class="news__link" href="news-one.html">Read More
                        <svg class="top__btn-svg">
                           <use xlink:href="images/sprite.svg#arrow-btn" width="19" height="19"></use>
                        </svg>
                     </a>
                  </div>
               </div>
               <div class="news__item">
                  <a class="news__img-link" href="#">
                     <img class="news__img-bg" src="images/news-2.avif" alt="news background image">
                  </a>
                  <div class="news__date-box">
                     <div class="news__date-num">25</div>
                     <div class="news__date-month">Nov</div>
                  </div>
                  <div class="news__info">
                     <div class="news__autor-box">
                        <svg class="news__user-svg">
                           <use xlink:href="images/sprite.svg#user" width="18" height="20"></use>
                        </svg>
                        <span class="news__autor">By Rachi Card</span>
                     </div>
                     <a class="news__title-link" href="news-one.html">
                        <h6 class="news__title">Our Favourite Summertime Tommeto</h6>
                     </a>
                     <p class="news__text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                     <a class="news__link" href="news-one.html">Read More
                        <svg class="top__btn-svg">
                           <use xlink:href="images/sprite.svg#arrow-btn" width="19" height="19"></use>
                        </svg>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
<!--=include subscribtion.html -->
</main>