<main class="main">
   <section class="top">
      <div class="top__background">
         <div class="container">
            <div class="top__wrapper">
               <div class="top__decor-title">100% Natural Food</div>
               <h1 class="top__title">Choose the best healthier way <br>of life</h1>
               <button class="top__btn">Explore Now
                  <svg class="top__btn-svg">
                     <use xlink:href="images/sprite.svg#arrow-btn" width="19" height="19"></use>
                  </svg></button>
            </div>
         </div>
      </div>
   </section>
</main>