<section class="subscription">
   <div class="container">
      <div class="subscription__wrapper">
         <h2 class="subscription__title">Subscribe to our Newsletter</h2>
         <form class="subscription__form" action="#">
            <label class="subscription__label" for="subscription">
               <input class="subscription__inp-text" id="subscription" type="text" placeholder="Your Email Address">
            </label>
            <button class="subscription__inp-btn" type="submit">Subscribe</button>
         </form>
      </div>
   </div>
</section>